body {
  /* <a href="https://www.freepik.com/free-vector/education-technology-futuristic-background-vector-gradient-blue-digital-remix_16311844.htm#query=educationtechnology&position=5&from_view=keyword&track=ais?log-in=google">Image by rawpixel.com</a>on Freepik */
  background-image: url("/background.avif");
  background-size: 100% 100%
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style-type: none;
}

/* this allows for the blurred background and no interactivity behind modal
don't make any changes to modalbackground */
.modalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, ff, 0.4);
  backdrop-filter: blur(10px);
}

/* The important parts here are display, align-items, and flex-direction
You can change, remove, or add anything else to modal content */
.modalContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: white;
  border-radius: 1em;
  padding: 1em;
  background-color: midnightblue;
}
